@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Font for the clock */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

/* Global Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 16px/24px 'Lato', Arial, sans-serif;
  text-align: center;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }
}

.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* Local Styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2% 5%;
  width: 100vw;
  min-height: 100vh;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

/* Form */

.form {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem auto 1.5rem auto;
  padding: 0;
  padding-bottom: 0.5rem; /* For iPhone X */
}

.form-item {
  flex: 0 1 auto;
  margin: 0.75rem;
  text-align: center;
  transition: all 0.2s;
}

/* Input */

.form-input {
  display: block;
  width: 100%;
  min-height: 3.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  margin-top: 1rem;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.15rem;
}

.form-input:active,
.form-input:focus,
.form-input:hover {
  border-bottom: thick solid black;
  font-weight: bold;
  outline: none;
}

.form-input-constraint {
  font-size: 0.7rem;
  line-height: 1.4;
}

/* .form-input-validity::after {
  padding-left: 0.3125rem;
}

input.form-input:invalid + .form-input-validity::after {
  content: '✖';
}

input.form-input:valid + .form-input-validity::after {
  content: '✓';
} */

/* CTA Button */

.form-cta {
  align-self: center;
  width: auto;
  margin-bottom: 0.9rem;
  padding: 0.75rem 1.25rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.2s;
}

.form-cta:active,
.form-cta:focus,
.form-cta:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  outline: none;
}

/* 
 * Clock
 */

/* Clock - Other */

.clock-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  /* padding: 5%; */
  /* width: 100vw; */
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.clock-image {
  /* Position aligned with .clock-remove-btn */
  position: relative;
  padding: 0.5rem;
}

.clock-remove-btn {
  /* Depends on the .clock-image position */
  position: absolute;
  top: -0.2rem;
  right: 0;
  min-width: 2rem;
  height: 2rem;
  margin: -0.25rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 0.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.2s;
}
.clock-remove-btn:active,
.clock-remove-btn:focus,
.clock-remove-btn:hover {
  border-color: white;
  background-color: black;
  color: white;
  font-weight: bold;
  outline: none;
}

.clock-digital {
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 1.25rem;
}

/* Clock - Animated
Created by John O. Paul from The Andela Way post on 
https://medium.com/the-andela-way/create-a-pure-css-clock-with-svg-f123bcc41e46 */

.clock-svg {
  width: 10rem;
  fill: white;
  stroke: black;
  stroke-width: 0.75;
  stroke-linecap: round;
  /* Rotate the clock from 3 to 12 */
  transform: rotate(-90deg);
  /* Hands position on load */
  --start-seconds: 00;
  --start-minutes: 00;
  --start-hours: 00;
  /* To test the minute hand:
  - uncomment the following code,
  - the minute hand should move one step 
  with the seconds hand and stop for a minute.*/
  /* --start--seconds: 59;
  --start-minutes: 59;
  --start-hours: 11; */
  /* To test the hour hand:
  - uncomment the following code,
  - the hour hand should be midway 
  between the 11 and 12 O’clock marks. */
  /* --start--seconds: 30;
  --start-minutes: 30;
  --start-hours: 11; */
}

/* Clock - Marks.
Move <g> element to the center and rotate the lines in 
intervals of 30 degrees to make them equally spaced 
around the clock. Let’s also make the 3, 6, 9 and 12 hour 
marks thicker than the rest by setting their stroke-width 
to 0.5 and for the rest of the hands to 0.2. */
.clock-svg-marks {
  transform: translate(1.25rem, 1.25rem);
  stroke-width: 0.2;
}
.clock-svg-marks > line:nth-child(1) {
  /* There are 12 marks, so we rotate by 30deg (12 * 30 = 360) */
  transform: rotate(30deg);
}
.clock-svg-marks > line:nth-child(2) {
  transform: rotate(calc(2 * 30deg));
}
.clock-svg-marks > line:nth-child(3) {
  transform: rotate(calc(3 * 30deg));
  stroke-width: 0.5;
}
.clock-svg-marks > line:nth-child(4) {
  transform: rotate(calc(4 * 30deg));
}
.clock-svg-marks > line:nth-child(5) {
  transform: rotate(calc(5 * 30deg));
}
.clock-svg-marks > line:nth-child(6) {
  transform: rotate(calc(6 * 30deg));
  stroke-width: 0.5;
}
.clock-svg-marks > line:nth-child(7) {
  transform: rotate(calc(7 * 30deg));
}
.clock-svg-marks > line:nth-child(8) {
  transform: rotate(calc(8 * 30deg));
}
.clock-svg-marks > line:nth-child(9) {
  transform: rotate(calc(9 * 30deg));
  stroke-width: 0.5;
}
.clock-svg-marks > line:nth-child(10) {
  transform: rotate(calc(10 * 30deg));
}
.clock-svg-marks > line:nth-child(11) {
  transform: rotate(calc(11 * 30deg));
}
.clock-svg-marks > line:nth-child(12) {
  transform: rotate(calc(12 * 30deg));
  stroke-width: 0.5;
}

/* Clock - Hands.
Move the hands of the clock to the center and give them 
different values of stroke-width to distinguish them. */
/* Formula: 
(Number of seconds/minutes) * 6degrees = rotation of the 
respective hand for both the seconds and minutes hands.
The clock can only indicate 12 hours => multiply the 
number of hours by 30degrees to compute the rotation of 
the hour hand. */
.clock-svg-seconds,
.clock-svg-minute,
.clock-svg-hour {
  transform: translate(1.25rem, 1.25rem) rotate(0deg);
}
.clock-svg-seconds {
  stroke-width: 0.5;
  stroke: teal;
  transform: translate(1.25rem, 1.25rem)
    rotate(calc(var(--start-seconds) * 6deg));

  /* 
  * Animation disabled for React to tick
  */

  /* Define an animation and use it on the seconds hand
  (.seconds). The animation timing function is steps(60). */
  /* animation: rotateSecondsHand 60s steps(60) infinite; */
}
@keyframes rotateSecondsHand {
  from {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-seconds) * 6deg));
  }
  to {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-seconds) * 6deg + 360deg));
  }
}

.clock-svg-minute {
  stroke-width: 0.75;
  transform: translate(1.25rem, 1.25rem)
    rotate(calc(var(--start-minutes) * 6deg));

  /* 
  * Animation disabled for React to tick
  */

  /* Define an animation and use it on the minute hand (.minute). 
  The animation timing function is steps(60). 
  Also, set the animation-delay to a negative value based on the value 
  of --start-seconds. Do this to “forward” the animation => the minute hand 
  moves whenever the seconds hand reaches the 12 O’clock mark.*/
  /* animation: rotateMinuteHand 3600s steps(60) infinite; */
  animation-delay: calc(var(--start-seconds) * -1 * 1s);
}
@keyframes rotateMinuteHand {
  from {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-minutes) * 6deg));
  }
  to {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-minutes) * 6deg + 360deg));
  }
}

.clock-svg-hour {
  stroke-width: 1;
  transform: translate(1.25rem, 1.25rem)
    rotate(calc(var(--start-hours) * 30deg));

  /* 
  * Animation disabled for React to tick
  */

  /* Define an animation for the hour hand (.hour), animation-delay is 
  dependent on the values of --start-seconds and --start-minutes. */
  /* animation: rotateHourHand calc(12 * 60 * 60s) linear infinite; */
  animation-delay: calc(
    calc(var(--start-minutes) * -60 * 1s) + calc(var(--start-seconds) * -1 * 1s)
  );
}
@keyframes rotateHourHand {
  from {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-hours) * 30deg));
  }
  to {
    transform: translate(1.25rem, 1.25rem)
      rotate(calc(var(--start-hours) * 30deg + 360deg));
  }
}

.clock-svg-pin {
  stroke: teal;
  stroke-width: 0.2;
}

/* Clock - Branding text */
.clock-svg-text {
  text-align: center;
  font-size: 0.2rem;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  transform: translate(0.78rem, 0.88rem) rotate(90deg);
  /* transform: translate(14px, 19px) rotate(90deg); */
  fill: teal;
  stroke: none;
}
